<!--suppress ALL-->
<template th:fragment="html">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.min.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
    <link href="css/fore/style.css" rel="stylesheet">
    <script>

        function linkDefaultActions() {
            $ ("span.leaveMessageTextareaSpan").hide ();
            $ ("img.leaveMessageImg").click (function () {
                $ (this).hide ();
                $ ("span.leaveMessageTextareaSpan").show ();
                $ ("div.orderItemSumDiv").css ("height", "120px");
            });
            let {constructor} = new Date ();
            // 页脚跳转
            $ ("div#footer a[href$=#nowhere]").click (function () {
                window.alert ("（＞﹏＜）只是模拟,不能跳转呀.")
                window.alert ("现在时间是:" + constructor ());
            });
            $ ("a.wangwangLink").click (function () {
                window.alert ("（。_。）只是模拟旺旺连接,不能实际跳转。");
            });
            $ ("a.notImplementLink").click (function () {
                window.alert (" ╮（╯▽╰）╭ 功能还没有实现呢!!!")
                window.alert ("现在时间是:" + constructor ());
            });
        }

    </script>
</template>
