<div class th:fragment="html">
    <div class="searchProducts">
        <div class="productUnit" price="${product.promotePrice}" v-for="product in products">
            <a :href="'product?pid=' + product.id ">
                <!--suppress HtmlRequiredAltAttribute -->
                <img class="productImage" :src="'img/productSingle/' + product.firstProductImage.id + '.jpg'">
            </a>
            <span class="productPrice">{{product.promotePrice | formatMoneyFilter }}</span>
            <a class="productLink" :href="'product?pid=' + product.id">
                {{ product.name | subStringFilter(0,50) }}
            </a>
            <a class="tmallLink" :href="'product?pid=' + product.id">
                天猫专卖
            </a>
            <div class="show1 productInfo">
                <span class="monthDeal">月成交<span class="productDealNumber">{{product.saleCount}}</span>笔</span>
                <span class="productReview">评论<span
                        class="productReviewNumber">{{product.reviewCount}}</span>条</span>
                <span class="wangwang">
                        <!--suppress HtmlUnknownAnchorTarget -->
                        <a class="wangwangLink" href="#nowhere">
                            <!--suppress HtmlRequiredAltAttribute -->
                            <img src="img/site/wangwang.png"/>
                        </a>
                    </span>
            </div>
        </div>
        <div v-if="products.length == 0" class="noMatch">没有找到合适的对象哦,≧ ε ≦...</div>
        <div style="clear: both;"></div>
    </div>
</div>