<!--suppress ALL-->
<!--
=======================================================
===             @author : apple                     ===
===             @version : html5                    ===
===             @info : 有关前端支付页面                ===
===             TODO : 2021/4/6                      ===
=======================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html('ˋ（ ° ▽、° ）支付页面')">
</head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html"></div>
    <div th:replace="include/fore/simpleSearch::html"></div>
    <div th:replace="include/fore/cart/alipayPage::html"></div>
    <div th:replace="include/fore/footer::html"></div>
</div>
</body>
</html>