<!--suppress ALL-->
<!--
=======================================================
===             @author : apple                     ===
===             @version : html5                    ===
===             @info : 有关前端订单页面               ===
===             TODO : 2021/4/6                      ===
=======================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html('订单页面 --（＾ｕ＾）')">
</head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html"></div>
    <div th:replace="include/fore/simpleSearch::html"></div>
    <div th:replace="include/fore/cart/boughtPage::html"></div>
    <div th:replace="include/fore/modelDeleteConfirm::html"></div>
    <div th:replace="include/fore/footer::html"></div>
</div>
</body>
</html>