<!--
=======================================================
===             @author : apple                     ===
===             @version : html5                    ===
===             @info : 有关前端订单页面               ===
===             TODO : 2021/3/21                    ===
=======================================================
-->
<!DOCTYPE html>
<!--suppress HtmlRequiredLangAttribute -->
<html xmlns:th="http://www.thymeleaf.org">
<!--suppress HtmlRequiredTitleElement -->
<head th:include="include/fore/header::html('订单页面 -=-（＞▽＜）')">
</head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html"></div>
    <div th:replace="include/fore/search::html"></div>
    <div th:replace="include/fore/cart/buyPage::html"></div>
    <div th:replace="include/fore/footer::html"></div>
</div>
</body>
</html>