<!--suppress ALL-->
<!--
=======================================================
===             @author : apple                     ===
===             @version : html5                    ===
===             @info : 有关前端确认支付宝支付页面       ===
===             TODO : 2021/4/6                     ===
=======================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html('ｂ（￣▽￣）ｄ - 确认支付宝支付')">
</head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/top::html"></div>
    <div th:replace="include/fore/simpleSearch::html"></div>
    <div th:replace="include/fore/cart/comfirmPayPage::html"></div>
    <div th:replace="include/fore/footer::html"></div>
</div>
</body>
</html>