<!--suppress ALL-->
<!--
=======================================================
===             @author : apple                     ===
===             @version : html5                    ===
===             @info : 有关前端登录页面               ===
===             TODO : 2021/3/21                    ===
=======================================================
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/fore/header::html('（￣︶￣）↗ 登录页面')"></head>
<body>
<div id="workingArea">
    <div th:replace="include/fore/loginPage::html"></div>
    <div th:replace="include/fore/footer::html"></div>
</div>
</body>
</html>